@{
    var imageUrl = $"/images/hustles/{Hustle.HustleId}.jpg";
    var brandUrl = $"/brands/{Hustle.Brand}";
}
<div class="card position-relative hustle-card" @attributes="AdditionalAttributes">
    <div class="active-overlay right-arrow"></div>
    <img src="@imageUrl" class="card-img-top" alt="@Hustle.Title"/>
  
    <div class="card-body">
        <h5 class="card-title">@Hustle.Title</h5>

        @if (ShowDescription)
        {
            <p class="card-text">@Hustle.Description</p>
        }
        <p class="card-text horizontal-list wrap">
            <small class="text-muted">$@Hustle.MinimumPrice to $@Hustle.MaximumPrice</small>
            @if (!HideBrand)
            {
                @if (Hustle.Type == HustleType.Sponsor)
                {
                    <small class="text-muted">Promote <NavLink href="@brandUrl" class="text-primary">@Hustle.Brand</NavLink></small>
                }
                else
                {
                    <small class="text-muted">Promote <span class="text-tertiary">Your Brand</span>!</small>
                }
            }
        </p>
    </div>

    @if (ShowHustler)
    {
        <div class="card-footer">
            <ProfileHeader Profile="@Hustle.OwnerProfile" ShowLocation ShowReviews/>
        </div>
    }
</div>

@code {
    [Parameter] public Hustle Hustle { get; set; } = Hustle.Empty;

    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public bool ShowHustler { get; set; }
    [Parameter] public bool ShowDescription { get; set; }
    [Parameter] public bool HideBrand { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

}